#footer {
    background: $secandery_color;
    padding: 5% 0;

    img {
        max-width: 150px;
        margin-bottom: 20px;
    }

    p {
        color: #d4d4d4;
    }

    a {
        color: #d4d4d4;
    }
    h2{
        color: $white;
        font-size: 22px;
    }

    address {
        margin-bottom: 5px;
        color: #d4d4d4;
    }
    svg {
        color: #fff;
        margin-right: 10px;
    }
    li.nav-item_r {
            display: flex;
            margin-bottom: 10px; 

            a{

                font-size: 18px;
            }
        
    }
    li.nav-item_a {
        a{
            font-size: 15px;  
        }
    }
    .footer_social {
        li{
            a{
                font-size: 30px;
                margin: 4px;
            }
        }
    }
        

}