#why_teamtees{
padding: 5% 0;
text-align: center;
h2 {
    font-size: 70px;
    font-weight: 700;
}
p {
    font-size: 22px;
    font-weight: 300;
}
.main_singel_icon {
    padding: 25px;

}
.main_singel_icon img {
   transition: 0.6s;
   -webkit-transition: 0.6s;
   -moz-transition: 0.6s;
   -ms-transition: 0.6s;
   -o-transition: 0.6s;
}
.main_singel_icon:hover img {
    background-color: $yellow;
    max-width: 100%;
    height: auto;
}
h3 {
    margin-top: 15px;
}
}