.page nav#main-nav {
    position: inherit;
    z-index: 99;
    width: 100%;
    background: #333;
}

.page_titel {
    background: #facd02;
    font-size: 14px;
    padding: 8px 0;
    margin-bottom: 4%;
}